.up-arrow {
    position: fixed;
    z-index: 9999;
    right: 2%;
    bottom: 2%;
    width: 4rem;
    height: 4rem;
    border-radius: 9999rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.up-arrow i {
    color: white;
}

.show-arrow-up {
    animation-name: ShowArrowUp;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.hide-arrow-up {
    animation-name: HideArrowUp;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes ShowArrowUp {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes HideArrowUp {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}