form input[type="password"] {
    outline: none;
    border: 1px solid gray;
}
.login .container .state p p {
    cursor: pointer;
    border-bottom: 3px solid gray;
}
.login .container .state p .active {
    border-bottom: 3px solid blue;
}
.note-message {
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.6rem 0;
    background-color: yellow;
}