.payement-success > i {
    position: relative;
    background-color: #2ecc71;
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
}

.payement-success > i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.9rem;
    color: white;
}

.payement-success a {
    color: white;
    background-color: #916741;
    border: 2px solid #916741;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    transition: 300ms;
}

.payement-success a:hover {
    background-color: transparent;
    color: #916741;
}

.payement-success h2 {
    color: #636363;
}