.wishlist .image-container {
    width: 10rem;
    height: 13rem;
}

.product-image {
    width: 5rem;
}

.no-items p {
    background-color: #7e5d4099;
}

th[scope="row"],
.product-title,
.remove-col {
    vertical-align: middle;
    font-size: 14px;
}

.wishlist td a {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.wishlist .remove-col {
    position: relative;
    z-index: 100;
}