.select-country img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, ol {
    list-style: none;
}
.select-country p {
    margin: 0;
}
.select-country {
    background-color: #F2F2F2;
}