.shop-page {
    background-color: #F2F2F2;
}

/* .shop-page aside > div {
    position: -webkit-sticky;
    position: sticky;
    top: 30%;
} */

.shop-page aside {
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
    width: 100%;
    max-height: 100dvh;
    overflow-y: auto;
    font-size: 16px;
}

.shop-page .row {
    width: 100%;
}

.shop-page .row ul.pagination {
    list-style: none;
}

.shop-page .row ul.pagination li {
    width: 2rem;
    height: 2rem;
    background-color: #916741;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #916741;
    transition: 300ms;
}

.shop-page .row ul.pagination li:hover {
    color: black;
    background-color: transparent;
    transition: 300ms;
}

.active-pagination {
    color: black !important;
    background-color: transparent !important;
}

@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    .shop-page aside {
        width: 20%;
        font-size: 14px;
    }
    
    .shop-page .row {
        width: 85%;
    }
    
}