.shop-page {
    background-color: #F2F2F2;
}

/* .shop-page aside > div {
    position: -webkit-sticky;
    position: sticky;
    top: 30%;
} */

.shop-page aside {
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
    width: 100%;
    max-height: 100dvh;
    overflow-y: auto;
    font-size: 16px;
}

.shop-page .row {
    width: 100%;
}

@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    .shop-page aside {
        width: 20%;
        font-size: 14px;
    }
    
    .shop-page .row {
        width: 85%;
    }
    
}